@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.answer {
  font-family: 'Comic Neue', cursive;
  position: absolute;
  top: 16px;
  z-index: 10000;
  width: fit-content;
  font-size: 25px;
  background-color: rgba(255, 232, 248, 0.5);
  border-radius: 12px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: lighter;
}

.question {
  width: 50%;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 2px solid red;
  outline: none;
  display: flex;
}

.question > input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
}

.question > button {
  position: relative;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.question > button > img {
  height: 100%;
}

#to_animate {
  position: absolute;
  left: 0;
}

.animated {
  animation: send;
  animation-duration: 2s;
}

@keyframes send {
  from {
    opacity: 100%;
    top: 0;
  }

  to {
    top: -50px;
    opacity: 0;
  }
}
